
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/css/address_search.css" />
    <title>주소 검색</title>
  </head>
  <body>
    <div class="container">
      <div class="box">
        
        <div class="status-bar">
          <p>19:20</p>
          <div class="status1">
            <img
              class="status2"
              src="/static/img/reception.svg"
              alt="reception"
            />
            <img class="status2" src="/static/img/wifi.svg" alt="wifi" />
            <img
              class="status2"
              src="/static/img/battery.svg"
              alt="battery"
            />
          </div>
        </div>

        
        <div class="app-top-bar">
          <a
            href="/accounts/address/"
            class="top-back-link"
            aria-label="뒤로 가기"
          >
            <img
              class="top-back"
              src="/static/img/chevron-left(gray).svg"
              alt="뒤로 가기"
            />
          </a>
        </div>

        <div class="address-search">
          <h2 class="app-title">주소 검색</h2>

          <div class="addr-inputbar">
            <form
              method="get"
              action="/accounts/address/search/"
              class="addr-input"
              role="search"
            >
              <button type="submit" class="addr-send" aria-label="검색">
                <img src="/static/img/search.svg" alt="검색" />
              </button>

              <input
                id="q"
                name="q"
                type="text"
                placeholder="지번, 도로명, 건물명으로 검색"
                autocomplete="off"
                aria-label="주소 검색 입력"
                value=""
              />
            </form>
          </div>
        </div>

        
      </div>
    </div>
    <script src="/static/js/address_search.js" defer></script>
  </body>
</html>
